.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
}

.content {
  padding-top: 60px; 
}

.app-background {
  background-image: url('/public/mamm-mia.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  min-height: 100vh;
  padding-top: 60px;
}

.pizza-card {
  background-color: white; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center; 
  width: 250px; 
}

.pizza-card h2, .pizza-card h3 {
  color: #333; 
  margin-bottom: 10px;
}

.pizza-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.pizza-card p {
  color: #666;
  margin-bottom: 10px;
}

.pizza-card button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
}

.pizza-card a {
  text-decoration: none;
  color: #ff6347;
  display: block;
  margin-top: 10px;
}